@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {

.slicknav_menu {
	display:block;
}
.menu{display:none;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

.slicknav_menu {
	display:block;
}
.menu{display:none;}
}