body{
	background:#EEF3FA;
}
.mid{
	width:90%;
	margin:auto;
	background:#FFEBCD;
}
.headd{}
.logo{margin: 0 10px 0 33px;}
.logo img{width:150px;padding:20px 10px;}
.menu{padding: 43px 0;}
.menu ul{list-style:none;}
.menu ul li{display:inline;}
.menu ul li a{font-size: 20px;
text-decoration: none;
text-transform: uppercase;
color: #337AB7;
padding: 0 30px;font-family: 'Roboto Condensed', sans-serif;}
.menu ul li a:hover{color:red;}

.slider-area{overflow:hidden;}
.slider{}
.slider img{    width: 100%;
    height: 400px;
}
.slicknav_menu {
	display:none;
}
.about-area{}
.about{}
.about h1{text-align:center;text-transform:uppercase;font-family: 'Roboto Condensed', sans-serif;}
.about p{font-family: 'Roboto Condensed', sans-serif;font-size:15px;}

.heading{}
.heading h1{text-align:center;font-family: 'Roboto Condensed', sans-serif;}
.conhead{}
.conhead h1{text-align:center;font-family: 'Roboto Condensed', sans-serif;}
.service-list{}
.service-list h2{text-align:center;font-family: 'Roboto Condensed', sans-serif;}
.service-list p{font-family: 'Roboto Condensed', sans-serif;}
.footer{
    background-color: black;
    text-align: center;
    margin-top: 6px;
    //padding: 10px;
    color: white;

}