.container{
    background-color:wheat;
}
/*.jumbotron{
    background-color: green;
}*/
.img-responsive{
    //float: left;
    
    display: block;
   // margin: auto;
    width: 100%;
}

.header{
    text-align: center;
    //background-color: darksalmon;
}
.headeing{
   // background-color: rosybrown;
}
.navbar{
   // background-color: black;
   // color: white;
}
.navbar-nav{
   // color: white;
    float: left;
   // text-decoration: right;
    text-overflow: hidden;
   text-align: left;
}
.box{
    //background-color: blue;
    //color: white;
    text-align: left;
    padding: 3px;
    // alignment-adjust: left;
}

.box1{
    //background-color: red;
    //color: white;
    text-align: center;
}
.box2{
    //background-color: burlywood;
    //color: black;
    text-align: center;

}
.box3{
    // background-color: wheat;
    //color: black;
    text-align: center;

}
.footer{
    background-color: black;
    text-align: center;
    margin-top: 6px;
    //padding: 10px;
    color: white;

}
.col-lg-6{
    margin-top: 5px;
}
.button{
    margin-top: 5px;

}